project:
  type: website
  output-dir: docs

website:
  title: "blockr"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
    tools:
      - icon: github
        menu:
          - text: Source Code
            href: https://github.com/BristolMyersSquibb/blockr
          - text: Report a Bug
            href: https://github.com/BristolMyersSquibb/blockr/issues

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



